.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 2rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
  max-width: 800px;
}

input[type="text"],
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3rem;
}



.user-card {
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
padding: 1rem;
margin-bottom: 1rem;
background-color: #f5f5f5;
border-radius: 0.5rem;
box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
word-wrap: break-word;
  word-break: break-all;
}

.user-card img {
width: 4rem;
height: 4rem;
border-radius: 50%;
margin-right: 1rem;
}

.email{
  word-wrap: break-word;
  
}

.user-actions button {
padding: 0.5rem 1rem;
background-color: #007bff;
color: #fff;
margin: 0%;
border: none;
border-radius: 0.25rem;
cursor: pointer;
}

.user-actions button:hover {
  background-color: #dc3545;
}

.team {
margin-top: 2rem;
}

.team h2 {
text-align: center;
}

.team-list {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 1rem;
}

.team-member {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
background-color: #f5f5f5;
border-radius: 0.5rem;
box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
margin-bottom: 1rem;
width: 100%;
}

.team-member img {
width: 3rem;
height: 3rem;
border-radius: 50%;
margin-right: 1rem;
}

.team-member-actions button {
padding: 0.25rem 0.5rem;
background-color: #dc3545;
color: #fff;
border: none;
border-radius: 0.25rem;
cursor: pointer;
}

@media (min-width: 768px) {
.users-list {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 1rem;
}

.user-card {
max-width: calc(50% - 0.5rem);
}

.team-list {
width: 100%;
max-width: 800px;
}

.team-member {
width: calc(50% - 0.5rem);
}



.pagination li {

  margin: 1%;
 }

}